.login__mobile__page {
  flex: 1;
  padding-top: 56px;
  &-container {
    max-width: 313px;
    width: 90%;
    margin: 0 auto;
  }
  .title {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .login__resend__btn {
    margin-top: 56px;
    margin-bottom: 40px;
  }
  .login__timer {
    font-weight: 700;
  }
  .login__resend-code {
    color: #a2a2a2;
    text-decoration: underline;
  }
}

.phone__number {
  .phone__number-check {
    .phone__number-link {
      color: $colorBlue;
    }
  }
}

.code__sms {
}
