$fontAvenir: 'Avenir';
$fontMontserrat: 'Montserrat';
$fontInter: 'Inter';

$colorBlack: #282828;
$colorBlackDos: #070707;
$colorBlackTres: #535353;
$colorWhite: #ffffff;
$colorBlue: #5b99bf;
$colorCoral: #d77f76;
$colorPurple: #a585c9;
$colorPink: #e7cdd8;
$colorGreen: #b7d6c3;

$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
