.header__title-container {
  padding: 24px 64px;
  border-bottom: 1px solid $colorBlue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 20px;
  }
  .header__title-close {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
